html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.page-header img{
  object-fit: cover;
}
.loader{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 40;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
.loader img{
  object-fit: contain;
}
:root{
  --primary-color:aliceblue;
  --secondary-color:rgb(2,62,138);
  --color-varient:rgb(0,119,182);
  --color-dark:rgb(3,4,94);
}
li{
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  font-family: plus jakarta Text,lato,Segoe UI;
}
* {
  box-sizing: border-box;
  font-family: plus jakarta Text,Segoe UI,lato,sans-serif;
}
section{
  width:85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
}
h1{
  font-size: 2.5rem;
  font-family: plus jakarta Text, lato,sans-serif;
  text-transform: capitalize;
}
h2{
  font-size: 1.5rem;
  font-family: plus jakarta Text,lato,sans-serif;
  text-transform: capitalize;
  line-height: 25px;
}
p{
  color:rgba(32, 32, 32, 0.906);
  font-family: Segoe UI,lato, sans-serif;
  font-size: 1,1rem;
  line-height: 25px;
}
.landpage{
  padding: 0;
  width:100%;
}
.home-landpage{
  padding: 0;
  width:100%;
  position:static;
}
.land-wrap{
  position:relative;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}
.landpage-outer-section{
  width: 100%;
  justify-content: center;
  padding: 0px 0px 50px 0px;
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  background-color:rgba(0, 0, 0, 0.509);
}
.landpage-text-container{
  width:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0px 40px 0px;
}
.landpage-text-container h2{
  color:rgb(247, 243, 243);
  line-height:30px;
  font-weight:500;
  font-size: 1.1rem;
}
.landpage-text-container h1{
  color:white;
}
.emphasis{
  font-weight: 500;
  text-transform: capitalize;
}
.landpage-text-container a{
  padding: 15px 100px 15px 100px;
  background-color: var(--secondary-color);
  color:white;
  text-transform: capitalize;
  font-size: 1.5rem;
  align-self: flex-start;
  margin-top: 20px;
}
.landpage-text-container a:hover{
  opacity: .9;
}
.landpage-img{
  margin-top: 50px;
  object-fit: contain;
}
.search-input-container{
  justify-content: center;
  margin-bottom: 30px;
  padding: 20px 0px 20px 0px;
  flex-direction: column;
  z-index: 30;
  background-color:transparent;
}
.input-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.search-input{
  width:93%;
  height: 50px;
  background-color: white;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid var(--secondary-color);
  outline: none;
  padding-left:15px ;
  font-size: 1rem;
}
.search-icon-container{
  border: 2px solid var(--secondary-color);
  cursor: pointer;
  width:7%;
  height: 50px;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 0px 4px 4px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon{
  color: white;
  font-size: 1.5rem;
}
.sort-btn-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.sort-btn{
  padding: 10px 40px 10px 40px ;
  cursor: pointer;
  background-color: var(--primary-color);
  font-size: 1rem;
  text-transform: capitalize;
  border: 1px solid #ddd;
}
.sort-btn:hover{
  background-color: var(--secondary-color);
  color: white;
}

.active{
  background-color: var(--secondary-color);
  color: white;
}
.card{
  min-height: 400px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 5px #ddd;
  align-self: flex-start;
  position: relative;
}
.popular-swiper{
  width:85%;
  padding: 35px;
  margin-bottom: 20px;
}
.popular-swiper .card{
  margin-bottom: 40px;
}
.card-img{
  height: 60%;
  min-height: 230px;
  max-height: 231px;
  width:100%;
  object-fit: cover;
}
.card-body{
  height:40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 15px 10px 15px;
  z-index: 2;
}

.property-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 20px;
  column-gap: 20px;
}
.blog-show-card{
  background:var(--secondary-color);
  padding: 0px;
}
.blog-show-card-text-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0px 20px 20px;
}
.blog-show-card-text-container a{
  padding: 15px 70px 15px 70px;
  color:var(--secondary-color);
  background-color:white;
  align-self: flex-start;
  font-size: 1.1rem;
}
.blog-show-card-text-container p{
  color: rgba(228, 228, 228, 0.932);
}
.blog-show-card-text-container h1{
  color: white;
}
.blog-show-card-img-container{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-show-card-img{
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.blog-section{
  padding-top:80px;
  padding-bottom:20px;
}
.body-card{
  text-align: left;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 4px;
  justify-content: space-between;
}
.body-card p{
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 0px;
  align-self: flex-start;
  margin-right: 10px;
}
.body-card span{
  font-family: lato;
  width: 100%;
  color: rgb(60, 60, 60);
  font-weight: bold;
  align-self: flex-start;
  margin-bottom: 5px;
}
.blog-body{
  width: 100%;
  padding: 0px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: rgb(67, 67, 67);
}
.blog-card-body{
  width:90%;
  margin-top:-30px;
  background-color: white;
}
.title{
  color: rgb(136, 136, 136);
}
.blog-card-body h1{
  font-size: 1rem;
  color: rgba(56, 56, 56, 0.856);
}
.blog-card{
  box-shadow: none;
}
.blog-card-body p{
  color: rgb(121, 121, 121);
  text-align: left;
  width:90%;
}
.body-card p{
  width: 30%;
  align-self: flex-start;
  font-family: lato;
}
.blog-card-body a{
  align-self: flex-start;
  background-color: var(--color-varient);
  color:white;
  padding:10px 40px 10px 40px;
  margin-top: 10px;
}
.calender-icon{
  font-size: 1.4rem;
  color: rgb(151, 151, 151);
}
.date-container{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.see-all-container{
  width:90%;
  padding:20px 0px 30px 10px;
  display:flex;
  align-items:center;
  justify-content:flex-end;
}
.right-arrow{
  font-size:1.2rem;
  color:white;
}
.see-all-container a{
  padding:5px 35px 5px 35px;
  background-color: var(--secondary-color);
  color:white;
  border-radius:4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.1rem;
}
footer{
  width:100%;
  background-color: var(--color-dark);
  background-image: url(/about.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items:center;
  justify-content: space-around;
}

.page-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page-header{
  width: 100%;
  height: 400px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.page-header::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.604);
}
.page{
  width: 80%;
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(201, 201, 201);
  margin-top: -150px;
  z-index: 2;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 20px 20px 30px;
  margin-bottom: 70px;
}
.left-description-body{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.right-description-body{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
}
.description-card{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px 10px 0px;
  align-self: flex-start;
  width: 100%;
}
.key{
  font-weight: 300;
  color: rgb(105, 105, 105);
}
.value{
  color: rgb(54, 54, 54);
}
.description-card span{
  width: 70%;
  text-align: left;
  align-self: flex-start;
}
.agent-info{
  width: 100%;
}
.agent-info .description-card .value{
  width:70%;
}
.agent-info-header{
  padding: 2px 0px 2px 20px;
  width: 100%;
  background-color: var(--color-dark);
  color:white;
}
.description-card a{
  padding:10px 70px 10px 70px;
  background-color: var(--color-dark);
  color: #ddd;
  font-family: plus jakarta Text;
  margin-right: auto;
}
.agent-info-header h4{
  text-transform: capitalize;
  font-size: 1.1rem;
  font-family: plus jakarta Text;
}
.upper-grid{
  width: 100%;
  object-fit: contain;
  height:60%;
  margin-bottom: 15px;
  box-shadow: 0px 0px 10px #ddd;
}
.lower-grid{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 30px;
}
.lower-grid img{
  box-shadow: 0px 0px 10px #ddd;
  width: 46%;
  height: 95%;
  object-fit: contain;
  margin-bottom:30px;
}
.foot{
  min-height: 200px;
  width:22%;
  
}
.foot a{
  display: block;
  color: rgb(151, 151, 151);
  text-transform: capitalize;
  margin-bottom: 10px;
}
.foot-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(3, 3, 69, 0.869);
  padding:20px;
}
.footer-header h2{
  color:rgb(207, 207, 207);
  font-family: plus jakarta Text,lato,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.foot p{
  color:rgb(151, 151, 151);
  font-family: plus jakarta Text,lato,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}
/* blog style  */
.blog-page{
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
}
.featured-post-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: row-reverse;
}
.featured-post-text{
  padding: 30px 0px 20px 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 4;
  background-color: aliceblue;
  min-height: 400px;
  align-self: flex-start;
}
.featured-post-text h1{
  align-self: flex-start;
  font-family: plus jakarta Text;
}
.featured-post-text a{
  align-self: flex-start;
  margin-top: 30px;
  padding: 15px 70px 15px 70px;
  background-color: var(--color-dark);
  color: white;
}
.featured-post-image-container{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.featured-post-image-container::after{
  content:'';
  width:100%;
  height:100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.245);
  top:0;
  left:0;
  margin-right: -100px;
}
.featured-post-image-container img{
  height: 500px;
  object-fit: cover;
  width: 100%;
}
.featured-related-post-container{
  width: 100%;
  padding: 0px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.left-container{
  width:40%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self:flex-start;
  padding-right: 10px;
}
.right-container{
  width:60%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding-top:10px;
  margin-top: -45px;
  z-index: 2;
}
.featured-post-header{
  align-self:flex-start;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.featured-post-header h2{
  color: var(--color-dark);
}
.right-blog-card{
  width: 49%;
  height:380px;
  display:flex;
  position: relative;
}
.left-container-post-card{
  height:280px;
  width:100%;
  position:relative;
  padding-right:10px;
  display:flex;
  background-color: white;
}
.left-container-post-card h2{
  font-family: plus jarkata text;
}
.blog-card-text-container{
  position:absolute;
  z-index:2;
  background-color: rgba(0, 0, 0, 0.558);
  height: 100%;
  width:100%;
  padding: 0px 10px 10px 10px;
  display:flex;
  align-items:center;
  justify-content: flex-end;
  flex-direction:column;
}
.blog-img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.article-title{
  font-size:1rem;
  color:white;
  align-self: flex-start;
}
.blog-card-text-container p{
  color:#ddd;
}
.blog-card-text-container a{
  padding: 10px 40px 10px 40px ;
  background:var(--primary-color);
  color:var(--color-dark);
  align-self:flex-start;
}
.line{
  display:block;
  height:2px;
  width:100px;
  background-color: var(--color-dark);
  margin-right: 5px;
}
.blog-list{
  width: 100%;
}
.latest-post-section{
  width: 100%;
  background-color: #ddd;
  padding: 0px 0px 0px 10px;
}
.latest-post-section-text-container{
  width: 50%;
  padding: 20px 10px 20px 20px;
}
.latest-post-section-text-container p{
  margin: 30px 0px 30px 0px;
  font-family: lato;
}
.latest-post-section-text-container a{
  padding: 10px 70px 10px 70px;
  color: white;
  background-color: var(--color-dark);
}
.latest-post-section-img-container{
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height:100%;
}
.latest-post-section-img-container::after{
  content: '';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  max-height:100%;
  background:rgba(0, 0, 0, 0.392);
  z-index:2;
}
.latest-post-section-img-container img{
  object-fit: cover;
  height: 400px;
  max-width: 100%;
}
.property-page{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.property-landpage{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  padding: 0px;
}
.property-landpage-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.landpage-body{
  width: 80%;
}
.land-body-text-container{
  padding:20px 0px 30px 80px;
}
.land-body-text-container h1{
  color:white;
  line-height: 25px;
}
.land-body-text-container h2{
  color:#ddd;
  font-family:plus jakarta text;
}
.latest-property-section{
  width:90%;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction:column;
}
.latest-property-header{
  align-self:flex-start;
}
.latest-property-header h2{
  font-size: 1.2rem;
  font-family:plus jarkat text;
}
.post-container{
  min-height: 500px;
}
.post-img-container{
  width: 40%;
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  align-self: flex-start;
  padding: 30px 0px 0px 0px;
}
.post-img-container img{
  width:100%;
  height:100%;
  object-fit: cover;
}
.post-text-container{
  width: 55%;
  align-self: flex-start;
}
.post-text-container h1{
  font-size:1.5rem;
}
.blog-header{
  justify-content: flex-start;
}
.blog-header a{
  text-transform: capitalize;
  color:rgb(99, 99, 99);
  font-size: 1.2rem;
}
.blog-header span{
  margin:0px 10px 0px 10px;
  font-size:1.2rem;
  font-family:lato;
}
.contact-page{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.contact-landpage{
  padding:20px 0px 0px 0px;
}
.contact-img{
  width:40%;
  height:500px;
  object-fit: cover;
}
.contact-form-container{
  width:55%;
  display: flex;
  align-items:center;
}
.contact-form{
  width:90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.contact-form input{
  height:45px;
  border:1px solid rgb(141, 200, 252);
  width: 80%;
  border-radius: 3px;
  padding: 10px;
  outline: none;
  margin-top: 20px;
}
.contact-form input::placeholder{
  text-transform: capitalize;
}
.contact-form input:focus{
  box-shadow: 0px 0px 5px rgb(141, 200, 252);
}
.contact-form textarea{
  border-radius: 3px;
  height:160px;
  width:80%;
  border:1px solid rgb(141, 200, 252);
  padding: 10px;
  outline: none;
  margin-top: 20px;
}
.contact-form textarea::placeholder{
  text-transform: capitalize;
}
.contact-form textarea:focus{
  box-shadow: 0px 0px 5px rgb(141, 200, 252);
}
.contact-submit-btn{
  background-color: var(--color-dark);
  color:white;
  font-size: 1.1rem;
  font-family:poppins;
  cursor: pointer;
}
.about-landpage-header{
  width:60%;
}
.about-page{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 0px 40px 0px;
  background-color: var(--primary-color);
}
.about-landpage{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width:100%;
  height:500px;
}
.about-landpage::after{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.542);
}
.about-landpage-container{
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-landpage-container p{
  width: 60%;
  color: white;
  font-size: 1.2rem;
  font-family: plus jakarta Text,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about-landpage-container h1{
  color: white;
}
.team-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  background-color: aliceblue;
}
.team-card{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin-top: 40px;
  background-color: white;
}
.team-card-img-container{
  width: 35%;
  height: 260px;
}
.reverse{
  flex-direction: row-reverse;
}
.team-card-img-container img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.team-card-text-container{
  width: 60%;
  align-self: flex-start;
  padding: 20px;
}
.service-page{
  width:100%;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}
.service-landpage{
  height: 400px;
  position:relative;  
  background-position:center ;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/housing.webp);
  margin: 40px 0px 40px 0px;
}
.service-landpage::after{
  top:0;
  left:0;
  position:absolute;
  background-color: rgba(0, 0, 0, 0.438);
  content:'';
  width: 100%;
  height:100%;
}
.service-landpage-text-container{
  position:absolute;
  width:50%;
  background-color:aliceblue;
  padding:20px;
  z-index: 2;
  margin-left: -50px;
  top:0;
  left:0;
}

.service-card-container{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 20px;
  column-gap: 15px;
  padding:0px;
  margin:20px 0px 20px 0px;
}
.service-card{
  background-color: aliceblue;
  min-height:300px;
  display:flex;
  align-items:center;
  justify-content:center;
  align-self: flex-start;
  padding:15px;
  flex-direction: column;
}
.service-card h2{
  align-self:flex-start;
}
.service-card svg{
  align-self: flex-start;
  font-size:3rem;
} 
.service-card p{
  align-self: flex-start;
}
.mapouter{position:relative;text-align:right;height:400px;width:100%;}
.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:100%;}
.contact-page{
  flex-direction: column;
}
.map-container{
  width:90%;
  padding-bottom: 10px;
}
.dashboard-header{
  width: 100%;
  height: 95px;
  position: fixed;
  top: 0;
  left: 0;
  background-color:white;
  border-bottom: 2px solid #ddd;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  z-index: 25;
}
.submit-btn{
  padding: 10px 50px 10px 50px;
  background-color: var(--color-dark);
  color: var(--primary-color);
  border-radius: 5px;
  margin-right:10px;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  border:none;
}
.dashboard-aside{
  background-color: white;
  border-right: 2px solid #ddd;
  width: 15%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  align-self: flex-start;
  position:sticky;
  top:0;
  left:0;
}
.tab{
  width:100%;
  padding: 10px;
  text-align: left;
  margin-top: 10px;
  cursor: pointer;
  max-height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.subtitle{
  background-color: var(--color-dark);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  width: 250px;
  display:none;
  transition: 0.5s all ease-in-out;
  padding: 15px ;
  position: absolute;
  margin-left:320px;
  top:0;
}
.subtitle p{
  padding: 5px 20px 5px 10px;
  width: 100%;
}
.subtitle p:hover{
  background-color: var(--secondary-color);  
}
.tab:hover{
  background-color: var(--color-dark);
}
.tab:hover p{
  color:white;
}
.tab:hover > .subtitle{
  color: white;
  display: block;
}
.tab:hover > .subtitle p{
  color: white;
}
.tab p{
  color: var(--color-dark);
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  width: 70%;
}
.tab svg{
  color: var(--color-dark);
  font-size: 1.3rem;
}
.tab:hover svg{
  color: white;
}
.tab:hover .tab-icon{
  color: white;
}
.dashboard-body{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.overview-section{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:20px;
  align-self: flex-start;
}
.overview-page{
  width: 100%;
  height: auto;
  align-self: flex-start;
}
.overview-page{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.overview-card-container{
  align-self:flex-start;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 90%;
  column-gap: 50px;
}
.overview-card{
  box-shadow: 0px 0px 5px #ddd;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  flex-direction: column;
}
.overview-card h1{
  line-height: 10px;
  color:var(--color-dark);
  font-size: 2rem;
}
.overview-icon{
  font-size:3rem;
  color:rgb(178, 0, 166);
}
.third{
  color:green;
}
.second{
  color:gold;
}
.overview-card p{
  font-size: 1rem;
  font-family: poppins;
  line-height: 15px;
  color:rgb(163, 163, 163);
}

/* Basic editor styles */
.is-active{
  outline:2px solid black;
}
.tiptap-container{
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
}
.tiptap-body{
  background: white;
}
.task-bar{
  border-bottom: 1px solid #ddd;
}
.task-bar button{
  cursor: pointer;
  font-size: 1.5rem;
  background-color: white;
  border: 1px solid #ddd;
  margin: 1px;
}
.task-bar button:hover{
  background-color: #ddd;
}
.ProseMirror {
  background-color:white;
  outline: none;
  text-indent: 10px;
  padding:10px;
}
.ProseMirror > * + * {
    margin-top: 0.75em;
  }
  .ProseMirror ul,
  .ProseMirror ol {
    padding: 0 1rem;
  }
  .ProseMirror li{
    list-style-type: disc;
  }

  .ProseMirror h1,
  .ProseMirror h2,
  .ProseMirror h3,
  .ProseMirror h4,
  .ProseMirror h5,
  .ProseMirror h6 {
    line-height: 1.1;
    text-align: left;
    text-indent: 0px;
    font-family:plus jakarta Text;
  }

  .ProseMirror pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: noto sans, 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    text-align: left;
  } 

  .ProseMirror img {
    max-width: 100%;
    height: auto;
  }

  .ProseMirror blockquote {
    padding-left: 1rem;
    border-left: 2px solid #0d0d0d;
  }

  .ProseMirror hr {
    border: none;
    border-top: 2px solid #0d0d0d;
    margin: .4rem 0;
  }
  .ProseMirror p{
    text-align: left;
    font-family:noto sans;
  }
  .ProseMirror p:first-letter{
    text-transform:uppercase;
  }
  .ProseMirror ol > li{
    list-style-type: auto;
    color: black;
    font-weight:500;
  }
  .ProseMirror a{
    color:blue;
  }
  .ProseMirror h1{
    font-family:plus jakarta Text;

  }
.file-upload-input{
  width:100%;
}
.create-post-form{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ddd;
}
.input{
  height:40px;
  border: 2px solid #ddd;
  outline: none;
  margin-bottom: 20px;
  text-indent: 15px;
  padding:0px 0px 0px 10px;
  font-size: 1rem;
  color: #292929;
  width:100%;
  font-family: Noto Sans,'JetBrainsMono', monospace;
}

::-webkit-file-upload-button{
  margin-top: 20px;
  height: 40px;
  border-radius: 5px;
  background-color: #292929;
  color:white;
  width: fit-content;
  border:none;
  font-family: poppins,'JetBrainsMono', monospace;
  font-size: 1rem;
  cursor: pointer;
}
.create-btn{
  height:45px;
  background-color: #292929;
  color:white;
  font-size: 1.2rem;
  font-family: poppins;
  text-transform: capitalize;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
}
.label{
  width:100%;
  margin-top:20px;
  font-size: 1.1rem;
  color:#292929;
  font-family: poppins;
}
.post-img-container{
  height:450px;
}
.dashboard-property-list{
  width:100%;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 10px;
  row-gap:20px;
}
.post-view-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border:2px solid #ddd;
  border-radius: 10px;
  width: 100%;
}
.form-view , .overview{
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2px;
  align-self: flex-start;
  flex-direction: column;
}

.logout{
  font-size: 2.5rem;
  margin-right: 20px;
  color:#666565;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #ddd;
}
.dash-head-icon-container{
  margin-right: 20px;
}
.edit-card{
  position: relative;
}
.edit-icon{
  font-size: 2.1rem;
  color:red;
  cursor: pointer;
  margin-bottom: 20px;
}
.edit-icon-containers{
  position: absolute;
  top:0;
  right: 80px;
  display:flex;
  flex-direction: column;
}
.edit{
  color:gold;
}
.contact-cards{
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin-top:10px;
}
.contact-cards h2{
  width:80%;
  color:rgb(90, 90, 90);
  font-size: .9rem;
  font-weight: 500;
}
.contact-cards a{
  width:80%;
  color:rgb(90, 90, 90);
  font-size: .9rem;
  font-weight: 500;
  line-height:50px;
}
.contact-cards svg{
  font-size:2rem;
  color:rgb(90, 90, 90);
}
.about-text-container-card{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.about-text-container-span{
  width: 85%;
}
.about-icons{
  font-size:2.5rem;
  color:var(--color-varient);
}
.about-line{
  background:rgb(157, 157, 157);
}
.team-card-text-container h2{
  color: rgb(45, 45, 45);
}

.contact-details{
  display:grid;
  grid-template-columns: repeat(2,1fr);
}
.nav-link-container {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 5px 0px 5px 0px;
  justify-content: space-around;
  padding: 15px 5px 15px 5px;
}
.menu-bar{
  position: fixed;
  left: 0;
  top:10;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height:100vh;
  z-index: 30;
  background-color: var(--primary-color);
  width:0px;
  overflow-x: hidden;
  transition: all .3s ease-in-out;
  border-right: 1px solid #ddd;
}
.menu-bar a:hover{
  color: var(--secondary-color);
}
.menu-bar a:hover > svg{
  color: var(--secondary-color);
}
.menu-bar a{
  width:70%;
  color:rgb(78, 78, 78);
  margin:10px 0px 10px 10px;
  text-transform: capitalize;
  font-family: Noto Sans, poppins light, roboto;
  font-size: 1rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link-arrow {
  color:rgb(78, 78, 78);
  font-size: .8rem;
}
.sort-list{
  position: relative;
  padding: 0px;
  width: 100%;
}
.overall-link{
  background-color: transparent;
  padding: 0px;
}
.sort-list-container{
  box-shadow: 0px 0px 10px #ddd;
  background-color: white;
  top:0;
  left:0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  overflow-x: auto;
  position: absolute;
}
.sort-list-container p{
  padding: 10px 30px ;
  border: 1px solid var(--color-dark);
  border-radius: 12rem;
  font-weight:600 ;
  margin: 15px;
  transition: .3s all ease-in-out;
  cursor: pointer;
}
.sort-list-container p:hover{
  background-color:var(--color-dark);
  color:white;
}
.search-error-msg{
  height:300px;
  width:100%;
}
.edit-post-form-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.edit-post-form{
  width: 500px;
  height: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding:20px;
  box-shadow: 0px 0px 10px #ddd;
  border-radius: 10px;
}
.category-btn-container{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0px 20px 0px;
}
.category-btn-container button{
  background-color: white;
  border:2px solid #292929;
  color:#292929;
  padding:10px 50px 10px 50px;
  border-radius: 5px;
  transition:all .3s ease-in-out;
  cursor: pointer;
  margin-right: 10px;
  font-family: noto sans, poppins;
}

.category-btn-container button:hover{
  color:white;
  background: #292929;
}
.inner-landpage-section{
  width:100%;
  height:480px;
}
.my-swiper-slide{
  width: 100%;
  height:500px;
}
.swiper-slide-img{
  object-fit:cover;
}
.edit-input{
  border:1px solid #ddd;
  padding:10px;
  margin:20px 0px 20px 0px;
  color:rgba(33, 33, 33, 0.635);
}
.edit-submit-btn{
  margin-top: 20px;
  background: var(--color-dark);
  color: white;
  font-size: 1.1rem;
  padding: 10px;
}
.login-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.login-submit-btn{
  background:var(--color-dark);
  color:white;
  text-transform:capitalize;
  cursor:pointer;
}
.login-image-container{
  background-color: red;
}

.login-form{
  background-color: white;
  height:450px;
  width:500px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
}
.login-form input{
  width:80%;
  border:2px solid rgb(204, 204, 204);
  border-radius:5px;
  height: 50px;
  margin-top:20px;
  outline:none;
  text-indent:10px;
  font-size:1rem;
}
.login-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:50px;
  background: var(--color-dark);
}
.card-swiper-cont{
  width:100%;
}
.card-slider{
  position:absolute;
  height:100%;
  width:380;
  align-self:flex-start;
  margin-bottom:auto;
}
.card-swiper{
  height:auto;
  position: static;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100%;
}
.card-swiper-cont{
  height:100%;
}
.card-slider img{
  object-fit:cover;
}
.card-slider img:hover{
  scale:1.2;
  transition:.5s all ease-in-out;
}
.swiper-button-next:after{
  font-size:2rem !important;
}
.swiper-button-prev:after{
  font-size:2rem !important;
}
.popular-header{
  justify-content:flex-start;
}
.popular-header h2{
  color:rgb(49, 49, 49);
  width:fit-content;
  font-family:poppins, Plus Jarkata Text, noto sans;
  margin:0px 10px;
}
.short-popular-line{
  width:10%;
  background:#ddd;
  height:3px;
}
.long-popular-line{
  width:30%;
  background:#ddd;
  height:3px;
}

.popular-card-slider-img{
  border-radius:10px;
}
.popular-card .card-body{
  margin-top:0px;
  width:100%;
  padding:10px 0px 10px 0px;
  bottom:0;
  background-color: transparent;
  left:0;
  padding-bottom:20px;
}
.popular-card{
  align-items:flex-start;
  padding-top:0px;
  flex-direction:column;
}
.popular-card .card-body .body-card p{
  width:80%;
  text-transform:capitalize;
  font-family:noto sans;
  color:black;
}
.popular-view-more{
  z-index:3;
}
.popular-card .card-body .body-card svg{
  font-size:1.5rem;
}
.popular-card .card-body .body-card{
  background:white;
  width:100%;
}
.popular-card a{
  height:100%;
  position:absolute;
  background:transparent;
  width:100%;
  z-index: 3;
}
.popular-card{
  position:relative;
}
 .price-tag{
    position: absolute;
    width: fit-content;
    height: 44px;
    padding: 10px 40px 10px 40px;display:flex;
    align-items:center;
    justify-content: space-around;
    top:0;
    left:0;
    margin-top:5px;
    margin-left:5px;
    border-radius:5px;
    color:var(--color-dark);
    background-color: white;
    z-index:3;
  }
  .price-tag p{
    font-family:Plus jarkata Text, noto sans, lato;
    font-weight:bold;
  }
  .price-tag-conteiner{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left:10px;
  }
  .price-tag svg{
    color:var(--color-dark);
    font-size:1.2rem;
    font-family:lato;
  }
  .image-upload-btn{
    width:fit-content;
    border-radius:5px;
    padding:10px 40px 10px 40px;
    background:black;
    color:white;
    font-size:noto sans, lato;
    margin-top:15px;
    cursor:pointer;
    height:40px;
  }
  .edit-input{
    width:100%;
    height:40px;
    text-indent:10px;
    border:2px solid #ddd;
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    outline:none;
  }
  .create-post-textarea{
    outline:none;
    width:100%;
    border:2px solid #ddd;
    height:150px;
    text-indent:10px;
  }.label{
    font-family:noto sans, lato;
  }
  .create-btn{
    font-family:noto sans, lato;
  }
  .title svg{
    color:rgba(29, 29, 29, 0.921);
    font-size: 1.5rem;
  }
  .title{
    width:fit-content;
  }
  .key{
    width:70%;
    max-width:70%;
    word-wrap:break-word;
    line-height: 20px;
  }
  .sort-list{
    flex-direction:column;
  }
  .sort-list-container{
    z-index:5;
  }
  .sortlist-close-btn{
    margin-left:auto;
    display:flex;
    align-items:center;
    z-index:6;
  }
  .sortList-close-btn svg{
    font-size:2.3rem;
    color:rgb(52, 52, 52);
  }
  .sortList-close-btn svg:hover{
    background:black;
  }
  .blog-card-body h1{
    font-family: noto sans;
    font-size:1.5rem;
    font-weight:600;
    color:black;
    margin-bottom:0px;
  }
  .blog-card-body p {
    text-transform: lowercase;
    font-size: 1rem;
  }
  .blog-card-body h2{
    font-family: noto sans;
    margin-top:10px;
    font-size:1.2rem;
    color:black;
    font-weight:500;
    text-indent: 0px;
  }
  .overview-card p{
    font-family:noto sans, lato;
  }
.menu-link-container{
  padding: 0px;
  display:flex;
  align-items:center;
  justify-content:space-around;
  width:100%;
  padding-left:10px;
}
.menu-link-container a{
  width:70%;
  text-align:left;
}
.mobile-popular-list{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-popular-swiper{
  width:100%;
  overflow-x:hidden;
}
.mobile-popular-swiper-slide{
  width:100%;
  display: flex;
  align-items:center;
  justify-content:center;
  margin-bottom:40px;
}
.mobile-popular-swiper .swiper-button-next{
  font-size:2rem !important;
  background:var(--color-dark);
  height:60px;
  width:60px;
  border-radius:50%;
  margin-right: -25px;
}
.mobile-popular-swiper .swiper-button-prev{
  font-size:2rem !important;
  background:var(--color-dark);
  height:60px;
  width:60px;
  border-radius:50%;
  margin-left: -25px;
}
.key{
  text-transform:capitalize;
}
.mobile-popular-list{
  display: none;
}
.mobile-tabs{
  display:none;
}
.blog-section{
  padding-top: 10px;
}
.see-all-link-container a{
  background:transparent;
  margin-right:10px;
  color:black;
  padding-bottom:5px;
  border-bottom:1.5px solid #ddd;
}
.see-all-link-container svg{
  color:black;
}
.see-all-link-container{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:fit-content;
}
.about-landpage{
  height:auto;
  justify-content:space-around;
  background:white;
}
.about-landpage-header h1{
   color:black;
}
.about-landpage::after{
  display:none;
}
.about-img{
  object-fit:cover;
}
.about-landpage-container{
  width:60%;
}
.about-landpage-header{
  width:80%;
}
.about-landpage-container p{
  width:80%;
  color:black;
  font-size:1rem;
  line-height:28px;
}
.about-landpage-container p:first-letter , .about-text-container-span > p:first-letter{
  text-transform:uppercase;
}
 .about-text-container-span p:first-letter{
  text-transform:uppercase;
}
.about-text-container-span h3:first-letter{
  text-transform:uppercase;
}
.category-btn-container .active{
  background:#292929;
}
.category-btn{
  margin:10px;
  padding:6px 30px ;
  border:1px solid #292929;
  border-radius:5px;
  cursor:pointer;
}
.create-category{
  color:black;
  align-self:flex-start;
  padding-left:10px;
}
.create-property .create-category{
  margin-top:10px;
  color:black;
  align-self:flex-start;
  padding-left:10px;
}
.blog-card-body{
  margin-top: 0px;
}
.property-list{
  background-color: rgb(251, 253, 255);
  padding:40px 0px;
}
.card-img-container{
  width:350px;
  position:relative;
  height:240px;
}
.card-body a{
  color:white;
}
.card-img-container{
  width:100%;
  position:relative;
  height:240px;
}
.blog-card{
  background:white;
}
.featured-post-image-container{
  position:static;
}
.blog-slide{
  display:flex;
  align-items:center;
  flex-direction: row-reverse;
  width:100%;
  justify-content:center;
  height:100%;
}
.featured-post-image-container::after{
  display:none;
  background:transparent;
}
.featured-related-post-container{
  margin-top:30px;
}
.featured-post-container{
  padding: 40px 0px;
}
.blog-swiper{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
}
.featured-post-body h1, .featured-post-body p{
  width:90%;
  text-align:left;
}
.blog-card-body h1{
  font-family: plus jarkata text,lato ;
}
.upper-grid{
  height:350px;
  object-fit:cover;
  width:100%;
}
.lower-grid .img{
  height:200px;
  object-fit:cover;
  margin:30px 0px 0px 0px ;
}
.lower-img{
  margin-bottom: 30px;
}
@media screen and (max-width:1300px) {
  .slide{
    min-width: 350px;
    margin: 0px 10px 0px 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
   }
  }
  @media screen and (max-width:1240px){
    .property-list{
      display: flex;
      flex-wrap: wrap;
    }

  }
@media screen and (max-width:980px) {
  .login-form-container{
    flex-direction:column;
  }
  .contact-details{
    grid-template-columns: repeat(1,1fr);
  }
  .contact-card{
    width: 35%;
  }
  .contact-landpage{
    flex-direction:column;
  }
 
  .contact-img{
    width: 90%;
    object-fit: contain;
  }
  .contact-form-container{
    width: 80%;
  }
  .landpage{
    flex-direction: column-reverse;
  }
  .landpage-text-container{
    width: 85%;
  }
 .slide{
  min-width: 350px;
  margin: 0px 10px 0px 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 20px;
 }
 .popular-swiper{
  width:auto;
 }
 .property-list{
  grid-template-columns: repeat(2,1fr);
  width: 100%;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
 }
 .blog-show-card{
  width:100%;
 }
 .blog-show-card-text-container h1{
  font-size: 1.3rem;
 }
 .blog-show-card-text-container p{
  font-size: 1rem;
 }
 .blog-show-card-img{
  object-fit: cover;
  height: 100%;
 }
.foot-container{
  flex-wrap: wrap;
 }
 .foot{
  width: 45%;
 }
 .featured-post-container{
  flex-direction: column-reverse;
 }
 .blog-page{
  padding: 0px;
  width: 100%;
 }
 .featured-post-text{
  width: 100%;
  padding: 20px;
 }
 .featured-post-container{
  width: 100%;
  padding:0px;
  position: static;
 }
 .featured-post-image-container{
  width:100%;
  height: 400px;
  margin:0px;
  margin-top: 60px;
  position: static;
 }
 .featured-post-image-container::after{
  display: none;
 }
.blog-section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 0px;
  column-gap: 10px;
  width: 100%;
  padding: 15px;
}
.featured-related-post-container{
  flex-direction: column;
  padding: 20px;
}
.left-container{
  width: 100%;
}
.menu-bar
.right-blog-card{
  
  height: 400px;
}
.right-container{
  width:100%;
  height: auto;
  margin-top: 0px;
}
.property-landpage{
  width: 100%;
}
.landpage-body{
  width: 80%;
  justify-content:flex-start;
}
.property-input{
  align-self:flex-start;
  width: 100%;
  padding: 0px;
}
.land-body-text-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction:column;
  padding: 0px;
}
.land-body-text-container h1{
  align-self:flex-end;
  width: 100%;
  margin-right: auto;
  line-height: 35px;
}
.land-body-text-container h2{
  margin-right:auto;
}
.latest-property-section{
  width:100%;
  padding:0px;
}
.service-landpage{
  width:100%;
}
.service-landpage-text-container{
  margin-left: 0px;
}
.service-card-container{
  display:grid;
  grid-template-columns: repeat(2,1fr);
}
 .team-card{
    width:100%;
  }
  .team-section{
    width:95%;
  }
  .post-container{
    flex-direction: column;
  }
  .post-img-container{
    width:90%;
  }
  .post-text-container{
    width:90%;
  }
  .page{
    width:100%;
    padding: 10px;
  }
  .right-description-body{
    padding: 5px;
  }
  .description-card{
    max-width:100%;
  }

}
@media screen and (max-width:740px) {
  .page-header{
    display: none;
  }
.featured-post-image-container{
  position:absolute;
  top:0;
  left:0;
}
.blog-slide{
  position:relative;
}
.featured-post-text{
  z-index:4;
  background:rgba(0, 0, 0, 0.524);
  padding-bottom:50px;
}
.featured-post-text h1{
  color:white;
}
.featured-post-body p{
  color:rgb(222, 220, 220);
}
.featured-post-image-container{
  margin-top:0px;
  height: 100%;
}
.featured-post-body p:first-letter{
  text-transform:uppercase;
}
.featured-post-body h2, .featured-post-body h1{
  color:white;
}
  .featured-post-body h1 ,.featured-post-text h1{
    font-size:1.4rem !important;
  }
  .featured-post-body{
    align-self:flex-start;
  }
  .featured-post-body h2, .featured-post-text h2{
    font-size:1.1rem;
    color:black;
  }
  .blog-slide{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column-reverse;
  }
  .blog-slide{
    flex-direction: column;
    height:auto;
  }
  .blog-card-body h1{
    font-weight: 500;
    font-size:1.3rem;
  }
  .login-form-container{
    padding:0px;
  }
  .login-form{
    width:90%;
  }
  .grow{
    width: 60vw;
  }
  .contact-card {
    width: 80%;
  }
  .sort-btn-container{
    max-width:100%;
  }
  .sort-btn{
    width: 30%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .page-header{
    display:none;
  } */
  .page{
    flex-direction: column;
    height:auto;
    margin-top: 0px;
  }
  .left-description-body{
    width: 95%;
    align-self: center;
    margin-bottom:30px;
  }
  .right-description-body{
    width:95%;
    align-self: center;
  }
  .blog-header{
    width:100%;
    padding: 15px 0px 10px 10px;
  }
  .post-container{
    width:95%;
    padding:0px;
  }
  .post-img-container{
    width:100%;
  }
  .post-text-container{
    width:100%;
  }
  .about-landpage{
    width: 100%;
    padding: 10px;
  }
  .about-landpage-header h1{
    font-size: 2rem;
  }
  .about-landpage-container p{
    width: 90%;
    font-size: 1rem;
  }
  .team-card{
    flex-direction: column;
    padding-top: 10px;
  }
  .team-section{
    width:100%;
  }
  .team-card-img-container{
    width:100%;
  }
  .team-card-text-container{
    width:100%;
  }
  .landpage-text-container h1{
    font-size:1.8rem;
  }
  .service-landpage-text-container{
    width:100%;
    height: auto;
    background-color: transparent;
    color: white;
  }
  .service-landpage::after{
    background:rgba(0, 0, 0, 0.62);
  }
  .service-landpage-text-container p{
    color: rgb(245, 245, 245);
  }
  .service-card-container{
    grid-template-columns: repeat(1,1fr);
  }
  .contact-page{
    padding:0px;
  }
  .contact-landpage{
    width:90%;
    padding-top: 0px;
  }
  .contact-form-container{
    width: 100%;
    padding: 0px;
  }
  .contact-img{
    margin-bottom:0px;
    width: 100%;
    align-self: flex-start;
  }
  .contact-form{
    width: 100%;
  }
  .landpage-body{
    width: 100%;
  }
  .map-container{
    width:90%;
    padding: 0px;
    margin: 20px 0px 40px 0px;
  }
  
  .contact-form input{
    width:100%;
  }
  .contact-form textarea{
    width:100%;
  }
  .land-body-text-container h1{
    font-size:2rem;
    padding-left: 10px;
  }
  .land-body-text-container h2{
    font-size:1.5rem;
    padding-left: 10px;
  }
  .latest-post-section{
    flex-direction: column;
    margin-bottom: 50px;
  }
  .latest-post-section-text-container, .latest-post-section-img-container{
    width: 100%;
  }
  .latest-post-section-img-container{
    padding: 0px;
  }
  .left-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .right-blog-card{
    width: 100%;
    margin-top: 20px;
  }
  .right-container{
    flex-direction: column;
  }
  .landpage-text-container{
    width: 90%;
  }
  .landpage{
    width: 100%;
  }
  .landpage-img{
    width:90%;
    object-fit: contain;
  }
  /* .landpage-outer-section{
    padding-bottom:0px;
  } */
  .foot{
    width: 90%;
   }
   .foot-container{
    width: 100%;
   }
   .property-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .blog-card{
    align-self: center;
   }
   .blog-show-card{
    flex-direction: column-reverse;
   }
   .blog-show-card-text-container{
    width:100%;
   }
   .blog-show-card-text-container h1{
    align-self: flex-start;
   }
   .blog-show-card-text-container p{
    width: 80%;
    align-self: flex-start;
   }
   .blog-show-card-img{
    width: 100%;
   }
   .search-input-container{
    width:100%;
    padding:20px 10px 20px 10px;
   }
   .search-input{
    width: 85%;
   }
   .search-icon-container{
    width: 15%;
   }
   .sort-btn-container{
    padding-right:0px;
    justify-content:space-between;
   }
   .sort-btn{
    min-width: 33%;
    width:33.5%;
   }
   .blog-show-card-text-container{
    background-color: var(--primary-color);
   }
   .blog-show-card-text-container h1, .blog-show-card-text-container p{
    color:black;
    font-family:noto sans;
   }
   .blog-show-card-text-container p{
    color: rgb(42, 41, 41);
    width:90%;
   }
   .card-img{
    width:100%;
   }
   .popular-header h2{
    color:rgb(49, 49, 49);
    width:fit-content;
    font-family:poppins, Plus Jarkata Text, noto sans;
    margin:0px 10px;
    font-size:1rem;
  }
  .short-popular-line{
    width:10%;
    background:#ddd;
    height:2px;
  }
  .long-popular-line{
    width:30%;
    background:#ddd;
    height:2px;
  }
  .see-all-container a{
    background:transparent;
    color:black;
  }
  .see-all-container a svg{
    color:black;
  }
  .mobile-popular-list{
    display:flex;
  }
  .desktop-popular-list{
    display: none;
  }
  .overview-section ,  .overview-page , .overview-card-container{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
  }
  .post-view-section{
    flex-direction:column;
  }
  .form-view , .overview{
    width:100%;
    margin-right:0px ;
    padding:0px;
  }
  .post-view-section{
    width:100%;
    padding:0px;
    border:none;
  }
  .edit-icon-containers{
    z-index:3;
    background:white;
    right:0;
  }
  .dashboard-aside{
    width:0px;
    overflow-x:hidden;
  }
  .overview-card{
    width:80%;
    margin-bottom:30px;
  }
  .mobile-tabs{
    z-index:30;
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:100%;
    background:aliceblue;
    padding:20px;
    bottom:0;
    left:0;
    position:fixed;
  }
.dashboard-header{
  display:none;
}
  .mobile-tabs .svg{
    font-size:1.5rem;
    color:var(--color-varient);
    margin-left:20px;
    cursor: pointer;
  }
  .mobile-tabs .svg:hover{
    color:var(--color-dark);
  }
  .about-landpage{
    flex-direction:column;
  }
  .about-landpage-header{
    width:90%;
  }
  .about-landpage-container{
    width:100%;
  }
  .about-img{
    width:90%;
    height:200px;
  }
  .user-icon-container{
    position:relative;
  }
  .user-icon-container:hover > span.tooltip{
    transform: scale(1);
  }
  .tooltip span{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    height:45px;
    margin:0px;
    margin-top:5px;
  }
  .tooltip > span > svg{
    color:white;
    font-size: 1.5rem;
  }
  .tooltip span p{
    color:white;
    width:80%;
  } 
  .tooltip{
    position:fixed;
    bottom:0;
    clip-path:polygon(0% 0%, 100% 0%, 100% 88%, 68% 88%, 50% 100%, 32% 88%, 0% 88%);
    margin-bottom:30px;
    height:200px;
    width:200px;
    left:25%;
    background-color:var(--color-dark);
    transform:translateX(-50%);
    display: flex;
    transform:scale(0);
    align-items:center;
    justify-content:flex-start;
    padding:10px;
    flex-direction:column;
    border-radius:5px 5px 0px 0px;
  }
  .about-text-container-card{
    width:100%;
    padding-left:0px;
  }
  .blog-section{
    padding: 0px;
  }
  .property-list{
    padding: 0px;
  }
  .sort-btn-container{
    width: 100%;
    padding:0px;
  }
  .sort-btn{
    height:40px;
    min-width:30%;
  }
  .card{
    margin-bottom:40px;
  }
  .popular-header{
    width:100%;
    padding-left:10px;
  }
  .ProseMirrow h1{
    text-indent:0px;
  }
  .popular-header h2{
    font-size:1.1rem;
  }
  .blog-card{
    width:95%;
    background:white;
  }
 
  .featured-post-header h2{
    font-size:1.2rem;
  }
  .left-container{
    width:100%;
    padding:0px;
  }
  .featured-related-post-container{
    width:95%;
    padding:30px 0px;
  }
  .right-container{
    height:auto;
  }
  .left-container-post-card{
    min-height:420px;
  }
  .latest-post-section{
    padding: 0px;
  }
  .land-body-text-container p{
    width:95%;
  }
  .search-input-container{
    padding:10px 2px;
  }
  .service-landpage-text-container h1{
    font-size:1.4rem;
  }
  .about-icons{
    margin-right:15px;
  }
  .post-img-container{
    height:350px;
    width:95%;
    padding:20px 0px;
  }
  .post-img-container{
    width:100%;
    margin-top: 33px;
  }
  .blog-header a{
    font-size:.9rem;
  }
  .blog-card{
    width: 95%;
  }
  .contact-cards{
    margin: 0px;
  }
  .contact-details{
    width:100%;
    padding:10px;
  }
  .lower-grid{
    margin-top:20px;
  }
  .lower-grid img{
    margin-bottom:20px;
  }
  .blog-header a{
    font-size: 1rem;
  }
}
