
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 5px 0px 5px 0px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
.logoContainer{
    width: 30%;
    padding-left:20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo{
    height: 100px;
    object-fit: cover;
    width: 200px;
}
.nav{
    width:60%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 40px;
}
.nav ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nav ul li {
    margin: 10px 25px 10px 25px;
}
.nav ul li a{
    font-size: 1.1rem;
    text-transform: capitalize;
}
.contactBtnContainer{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactBtnContainer{
    padding:10px;
}
.contactBtnContainer a{
    padding: 15px 50px 15px 50px;
    background: var(--secondary-color);
    color:white;
}
.menu{
    display:none;
    width:80px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70px;
    cursor: pointer;
}
.menuline:hover{
    background-color:var(--color-dark) ;
}
.menuline{
    width:45%;
    background-color: rgb(131, 131, 131);
    height: 2px;
    margin-top: 7px;
    border: 1px;
    pointer-events: none;
}
@media screen and (max-width:980px) {
    .nav{
      display: none;
    }
    .header{
        padding-left:20px ;
        padding-right:20px ;
    }
  }
  @media screen and (max-width:740px) {
      .header{
          max-width: 100%;
          justify-content: space-between;
          padding-left: 10px;
      }
      .menu{
        display:flex;
      }
      .logoContainer{
        align-self: flex-start;
        width: 40%;
      }
      .logoContainer p{
        flex: 1;
      }
      .contactBtnContainer{
        display:none;
      }
  }